@font-face {
    font-family: TTTravels;
    src: url('../fonts/TTTravels-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: TTTravels;
    src: url('../fonts/TTTravels-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: TTTravels;
    src: url('../fonts/TTTravels-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: TTTravels;
    src: url('../fonts/TTTravels-DemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: TTTravels;
    src: url('../fonts/TTTravels-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

ol,
ul {
    padding-left: 0;
}

img {
    vertical-align: top;
}

body {
    font-family: TTTravels;
    color: #404040;
    scroll-behavior: smooth;
}

.container {
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.nav .container {
    max-width: 1410px;
}

.nav {
    position: fixed;
    width: 100vw;
    padding: 16px 0px 17px;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.3s ease;
}

.nav_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_section {
    display: flex;
    align-items: center;
}

.nav_logo {
    margin-left: 20px;
}

.nav_toggle {
    display: flex;
    align-items: center;
    width: 131px;
    height: 37px;
    background: #FFFFFF;
    border: 1px solid #E2E8F0;
    border-radius: 48px;
    padding: 3px;
    margin-left: 20px;
}

.nav_toggle a {
    padding: 8px 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 110%;
    color: #636C81;
    border-radius: 34px;
}

.nav_toggle a:first-child {
    margin-right: 4px;
}

.nav_toggle a.active {
    color: #FFFFFF;
    background: #5A30F0;
}

.nav_bar {
    width: 100%;
    max-width: 662px;
    justify-content: space-between;
    display: flex;
    margin-left: 18px;
}

.nav_bar a {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.2px;
    color: #404040;
}

.nav_contacts {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.2px;
    color: #404040;
}

.nav_contacts a {
    margin: 3px 5px 0 0;
    color: #404040;
}

.nav_contacts span {
    height: 14px;
    width: 2px;
    background: #404040;
    margin: 0 13px;
}

.nav_burger {
    margin-left: 38px;
}

.nav_burger div {
    width: 22px;
    height: 2px;
    margin: 6px 0;
    border-radius: 20px;
    background: #404040;
}

.header {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header_img {
    height: 100vh;
    width: 50vw;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.header_inf {
    max-width: 400px;
    width: 100%;
    margin: 0 105px 0 auto;
}

.header_title {
    font-weight: 400;
    font-size: 76px;
    line-height: 110%;
    margin-bottom: 30px;
}

.header_text {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
}

.order-button {
    position: fixed;
    width: 195px;
    height: 195px;
    background: #5A30F0;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(-50%) rotate(-15deg);
    left: 50%;
    bottom: 20px;
    padding-top: 3px;
    cursor: pointer;
    z-index: 15;
}

.order-button:hover .order-button_border{
    opacity: 1;
}

.order-button_border{
    position: absolute;
    opacity: 0;
    content: '';
    display: block;
    width: 225px;
    height: 225px;
    background: #5a30f077;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: -1;
    transition: all 0.3s ease;
}
.pluses {
    padding-top: 73px;
    margin-bottom: 150px;
}

.pluses_wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.pluses_item {
    cursor: pointer;
    max-width: 300px;
    height: 328px;
    background: #F3F6FB;
    border-radius: 8px;
    transition: all 1s ease;
    position: relative;
}
.pluses_item:hover{
    background: #5A30F0;
}
.pluses_item:hover .front{
    display: none;
    opacity: 0;
}
.pluses_item:hover .back{
    display: block;
    opacity: 1;
}
.pluses_item .front {
    max-width: 300px;
    height: 328px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    padding: 20px 40px 0;
}

.pluses_item .back {
    padding: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    display: none;
    opacity: 0;
}

.pluses_item .front img {
    width: max-content;
    margin: 0 auto;
}

.pluses_item:nth-child(1) .front img {
    margin-left: 25px;
}

.pluses_item:nth-child(4) .front img {
    margin-left: 5px;
}

@media (max-width:1320px) {
    .nav_bar {
        max-width: 610px;
        margin: 10px;
    }

    .nav_logo {
        margin-left: 0px;
    }

    .pluses_item .front {
        width: 280px;
        margin: 0 5px;
    }
}

@media (max-width:1250px) {
    .nav_bar {
        display: none;
    }

    .pluses_item .front {
        width: 260px;
        padding: 20px 20px 0;
    }

}

@media (max-width:1180px) {
    .pluses_wrapper {
        width: 620px;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .pluses_item .front {
        width: 300px;
        margin: 20px 0 0;
        padding: 20px 40px 0;
    }

    .header_inf {
        max-width: 330px;
    }

}

@media (max-width:980px) {

    .header_inf {
        margin-right: 0;
    }

}

@media (max-width:768px) {
    .header_inf {
        margin-left: 0;
    }

    .header_title {
        font-size: 68px;
    }

    .header_img {
        width: 30vw;
        right: 0;
    }

    .order-button {
        left: 70vw;
    }
}

@media (max-width:650px) {
    .container {
        padding: 0 10px;
    }

    .nav_contacts {
        display: none;
    }

    .nav_burger {
        margin-left: 0px;
    }

    .pluses_wrapper {
        width: 300px;
    }

}

@media (max-width:576px) {
    .order-button {
        width: 125px;
        height: 125px;
    }
}

@media (max-width:425px) {
    .header_title {
        font-size: 56px;
    }

    .nav_toggle {
        margin-left: 12px;
    }

    .nav_burger {
        margin-left: 0px;
    }



}